<!DOCTYPE html>
<html lang="en">
  <head>
    <title>123.ch</title>
    <%= render 'layouts/partials/links_scripts_meta'%>
  </head>
  <body>
  <div id="root"></div>
  <%= javascript_include_tag 'mdb' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <!-- <%= javascript_pack_tag 'index' %> -->
  </body>
</html>
